appdirs==1.4.3
blinker==1.4
click==6.7
cssmin==0.2.0
Flask==0.10.1
Flask-Admin==1.5.0
Flask-Assets==0.12
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-OAuth==0.12
Flask-Principal==0.4.0
Flask-Script==2.0.5
Flask-Security==1.7.5
Flask-Social==1.6.2
Flask-SQLAlchemy==2.2
Flask-Uploads==0.2.1
Flask-Via==2015.1.1
Flask-WTF==0.14.2
httplib2==0.10.3
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==1.0
oauth2==1.9.0.post1
packaging==16.8
passlib==1.7.1
pkg-resources==0.0.0
pyparsing==2.2.0
rjsmin==1.0.12
simplejson==3.10.0
six==1.10.0
SQLAlchemy==1.1.6
SQLAlchemy-Utils==0.32.13
webassets==0.12.1
Werkzeug==0.12.1
WTForms==2.1
