{% extends 'layout/base.html' %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}


{% block content %}
  <div class="container">
      <div class="row-content">
          <br>
              <div class="col-md-8">
                  <h2 class="h2">No te has registrado?</h2>
                  <button class="btn btn-success btn-raised"><a href="{{url_for('security.register')}}">Unete</a></button>
                  <hr>
                  <h2>Oauth Login</h2>
                {% if current_user.is_authenticated %}
                    <h2>Hi, {{ current_user.username }}!</h2>
                    <p><a href="{{ url_for('logout') }}">Logout</a></p>
                {% else %}
                    <h2>I don't know you!</h2>
                    <p><a href="{{ url_for('user.oauth_authorize', provider='facebook') }}">Login with Facebook</a></p>
                    <p><a href="{{ url_for('user.oauth_authorize', provider='twitter') }}">Login with Twitter</a></p>
                    <p><a href="{{ url_for('user.oauth_authorize', provider='google') }}">Login with Google</a></p>
                {% endif %}
              </div>
      <form class="form-horizontal" action="{{ url_for_security('login') }}" method="POST">
          <fieldset>
              {{ login_user_form.hidden_tag() }}

            <legend class="h2">Login</legend>
               <div class="form-group   label-floating">
                {{ render_field_with_errors(login_user_form.email,  id="email", class_="form-control") }}
              </div>

              <div class="form-group  label-floating">
              {{ render_field_with_errors(login_user_form.password,  id="password", class_="form-control") }}
              </div>

              <div class="checkbox ">
                <label>
                    {{ login_user_form.remember(class_="-control") }} <span>Remember?</span>
                </label>
              </div>
              {{  login_user_form.next }}
              <br>
              {{ login_user_form.submit(class_="btn btn-default btn-submit" ) }}
        </fieldset>
      </form>
    </div>
 </div>

  {% endblock %}